/* LESS Document */

.cl { clear:both;}
@colorG: #a2a2a2;
@colorDG: #414141;
@colorLG: #949292;
@colorELG: #e9e9e9;


@colorW: #fff;
@colorB: #000;
@color: red;
 
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.tran (@transition: 0.5s)
{-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}

 body, html{font-family: 'Raleway', sans-serif;}
h1,h2,h3,h4,h5,h6 { color:@colorG; font-size:20px;}
.fl { float:left; }
.fr { float:right; }




@media (min-width: 999px) {

#menu-toggle { display:none; background:@colorDG;}

nav ul{  margin:0 auto ;
     li{ 
      float:right; list-style:none; padding:0px 0 0 40px;   
     }
	 a { color:@colorDG;  }
 }
 nav { padding:25px 0 20px 0; margin-top:15px; margin-bottom:20px; position:relative;}



}


.social { float:right; padding:40px 0 0 0;
 a { .border-radius(50%;); width:40px; height:40px; border:solid 1px @colorG; color:@colorDG; float:right; text-align:center; line-height:40px; font-size:20px; margin-left:10px;}
 a:hover { background:@colorDG; color:@colorW; border:solid 1px @colorDG;}
 
 }

.sliderOuter { background:@colorDG; padding:40px 0 0px 0;}
.homepageboxes { padding-bottom:25px;}
.homepageboxes .boximg { overflow:hidden; height:198px; width:313px;}

.homepageboxes  img, .social a {-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}
.homepageboxes  img:hover {-moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
-o-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3); padding-top:10px;

}
.homepageboxes  { 
h1,h2,h3,h4,h5,h6{
font-size:16px; color:@colorDG; padding:20px 0; font-weight:700;}

}
footer { background:@colorDG; padding:30px 0; color:@colorLG; font-style:13px; 
li { background: url(../images/fooericon.png) no-repeat left 5px; list-style:none; padding-left:9px; }
a { color:@colorLG; font-size:13px;}
a:hover { color:@colorW;}
h1,h2,h3,h4,h5,h6 { color:@colorW; font-size:16px;}
ul { padding:0px;}

	


}

p { padding-bottom:0px; margin-bottom:10px; }
p , .readmore {  font-size:13px; color:@colorLG;}
.readmore { text-decoration:underline;}
.readmore:hover { color:@colorW;}

.smallmenu { text-align:right; padding:10px 0;
a { color:@colorW;}

}
.copyrights { color:@colorW; font-size:13px; padding-top:10px ;}

.InnerOUter { background:@colorDG; padding:40px 0; padding-bottom:0; min-height:500px;


h1, h2, h3 ,h4 ,h5, h6 { color:@colorDG; font-weight:bold; font-size:18px; padding-bottom:15px;}
p { color:@colorDG; line-height:29px; font-size:14px;}

}
.white-box { background:@colorW; padding:20px;}
form { font-size:14px;}
form input[type="text"], form select, form input[type="email"] { -webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px; padding:8px; width:90%; border:solid 1px #dadada; margin-top:10px; display:block;}
.callbackform label { margin:0px; padding:0px;}
.calbackRow { margin-bottom:10px;}
.subtm { background:@colorDG; color:@colorW; border:none; padding:7px 15px;}

@media (max-width: 767px) {
	
	.logo, .smallmenu { text-align:center;}
	.logo  { padding:10px 0;}
	.social { float:none; text-align:center; width:100px; margin:0 auto 	; overflow:hidden; padding:10px 0px;}
#menu-toggle { background:@colorDG; color:@colorW; display:block; padding:10px;}
#menu-toggle i { padding-right:10px; cursor:pointer; text-decoration:none; }
#menu-toggle:focus { text-decoration:none; }
.sliderOuter { padding:0px;}
	#menu { display:none; background:@colorELG;}
#menu li { list-style:none; border-bottom:solid 1px @colorLG; padding:7px; }
#menu ul		 {margin:0px; padding:0px;}
		#menu li  a { color:@colorDG;}
		#menu.open { display:block;}
		header .col-lg-8{ margin:0 -15px ; padding:0px;}
.homepageboxes .col-lg-4 { margin:0 -15px;; padding:0px;}	
.homepageboxes { padding:0px;}
.InnerOUter, .InnerOUter .container, footer .container, .sliderOuter .container, .white-box .col-lg-5, .white-box .col-lg-7{ padding:0px;}
.homepageboxes .boximg, .homepageboxes img { width:100%;}
footer { padding:10px 0;}

.homepageboxes  { 
h1,h2,h3,h4,h5,h6 { text-align:center;}
}
.homepageboxes { }
.readmore { padding-bottom:20px; display:block;}
.row { margin:0px}

}
.numbers { font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;}

.white-box .numbers {opacity:0.8;}